<% @students.each do |student| %>
  <p>Name: <%= student.format_name() %></p>
  <p>House: <%= student.age %>  <%= student.house().name %></p>
  <p><a href="/students/<%= student.id %>">Show student</a></p>
  <hr />
<% end %>
